<!DOCTYPE html Public "-//W3C//DTD XHTML 1.0 TRANSITIONAL/en"
"http://www.w3.org/TR/xhtml/DTD/xhtml1-transitional.dtd" >

<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="main.css">
<title> Data</title></head>

<body id="img">
	<h1 style="text-align:center" class="h">Share Food</h1>
	<div id="body">
	<form>
		<h3 style="text-align:center">Result of the Search</h3>
		<div ><p><img src="#" class="img1">ashrama<a href="" class="btn-right" style="color:black">Details<a/></p></div>
	
		<div ><p><img src="#" class="img1">ashrama2<a href="" class="btn-right" style="color:black">Details</a></p></div>
		
		<p class="pa"><a href="location.html"><button type="button" class="btn-left" >Back</button></a></p>
	</form>
	</div>
</body>
</html>