<!DOCTYPE html Public "-//W3C//DTD XHTML 1.0 TRANSITIONAL/en"
"http://www.w3.org/TR/xhtml/DTD/xhtml1-transitional.dtd" >

<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="main.css">
<title>Details</title></head>
<body id="img">
	<h1 style="text-align:center" class="h">Share Food</h1>
	<div id="body"  >
		<h3 style="text-align:center">Details</h3>
		<center><img src="#"></center>
		<form>	
			<p class="pa"><label >Name:<a class="btn-right"></label><input type="text" name="name" readonly></a></p>
			<p class="pa"><label >Email:<a class="btn-right"></label><input type="email" name="email" readonly></a></p>
			<p class="pa"><label >Phone:<a class="btn-right"></label><input type="tel" maxlength="10" name="phone" readonly></a></p>
			<p class="pa"><label >Address:<a class="btn-right"></label><input type="text" name="address" height="20px" readonly></a></p>
		</form>
		<p class="pa"><a href="data.html"><button type="button" class="btn-left">Back</button></a><a href=""><button type="button" class="btn-right">Done</button></a></p>
	</div>
</body>
</html>