<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="main.css">
<title> Help</title>
</head>
<body id="img">
	<h1 style="text-align:center" class="h">Share Food</h1>
	<div id="body">
		<h3 style="text-align:center">Help</h3>
		<h3><a id="create">Create An Account</a></h3>
		<p></p>
		<h3><a id="feedback">Give Feedback</a></h3>
		<p></p>
		<h3><a id="donate">Donate Food</a></h3>
		<p></p>
		<a href="help.html"><button class="btn-right" type="button">Back</button></a>
	</div>
</body>
</html>