<!DOCTYPE html Public "-//W3C//DTD XHTML 1.0 TRANSITIONAL/en"
"http://www.w3.org/TR/xhtml/DTD/xhtml1-transitional.dtd" >

<html>
<head>	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="main.css">
<title>Forgot Password</title></head>

<body id="img">
	<h1 style="text-align:center" class="h">Share Food</h1>
	<div id="body">
	<h3 style="text-align:center">Forgot Password</h3>
	<form>
		<p class="pa" for="email" >Email or Phone<a class="btn-right"><input type="text" name="email" placeholder="Email" required></a></p>
		<p class="pa" for="ansq1" >Q1.What is the name of the first school?<a class="btn-right"><input type="text" name="ansq1" placeholder="Answer Q1" ></a></p>
		<p class="pa" for="ansq2" >Q2.What is your favorite hobbie?<a class="btn-right"><input type="text" name="ansq2" maxlength="8" placeholder="Answer Q2" ></a></p>		
	</form>
	<p class="pa"><a href="signup.html"><button type="button" class="btn-left" >Back</button><button class="btn-right" type="button">Save</button></p>
	</div>
</body>
</html>