<!DOCTYPE html Public "-//W3C//DTD XHTML 1.0 TRANSITIONAL/en"
"http://www.w3.org/TR/xhtml/DTD/xhtml1-transitional.dtd" >

<html>
<head>
<style type="text/css">
	#forgot { 	border: 1px solid black;
				position:absolute;
				top:15%;
				left:30%;
				padding:20px;
				margin:20px;
				background-color:grey;
			}
	.
	</style>
	<link rel="stylesheet" type="text/css" href="main.css">
<title>Forgot Password</title></head>

<body id="img">
	<h1 style="text-align:center" class="h">Share Food</h1>
	<form id="forgot">
	<h3 style="text-align:center">Forgot Password</h3>
	
		<table cellpadding="10px" cellspacing="10">
			<tr><td>Email</td><td><input type="text" name="email" placeholder="email" required></td></tr>
			<tr><td>Q1.What is the name of the first school?</td><td><input type="text" name="ansq1" placeholder="Answer Q1" ></td></tr>
			<tr><td>Q2.What is your favorite hobbie?</td><td><input type="text" name="ansq2" maxlength="8"/ placeholder="Answer Q2" ></td></tr>
			<tr><td>New Password</td><td><input type="password" name="newpassword" maxlength="8"/ placeholder="Password" required></td></tr>
		</table>
	<a href="signup.html"><button type="button" class="btn-left" >Back</button><button class="btn-right" type="button">Save</button>
	</form>
</body>
</html>