<!DOCTYPE html Public "-//W3C//DTD XHTML 1.0 TRANSITIONAL/en"
"http://www.w3.org/TR/xhtml/DTD/xhtml1-transitional.dtd" >

<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="main.css">
<title> Help</title>
</head>
<body id="img">
	<h1 style="text-align:center" class="h">Share Food</h1>
	<div id="body">
	<h3 style="text-align:center">Help</h3>
	<form>
	<ul >
		<li><a href="expl.html#create" class="txt">How To Create An Account</a></li>
		<li><a href="expl.html#feedback" class="txt">How To Give Feedback</a></li>
		<li><a href="expl.html#donate" class="txt">How To Donate Food</a></li>
	</ul>
	</form>
	<a href="signup.html" class="pa"><button class="btn-right" type="button">Back</button></a>
	</div>
</body>
</html>