<!DOCTYPE html Public "-//WC3//DTD XHTML 1.0 TRANSITIONAL/en"
http://www.w3.org/TR/XHTML-TRANSLATION.DID">
<HTML>
<HEAD>
<STYLE TYPE="TEXT/CSS">
#PASSWORD { BORDER:2PX SOLID BLACK;
POSITION :ABSOLUTE;
TOP:25%;
LEFT:20%;
PADDING:10%;
PADDING-BOTTOM:100PX;
MARGINE:100PX;
</STYLE>
<TITLE>SHARE FOOD</TITLE>
</HEAD>
<BODY ID="PASSWORD">
<H2 STYLE="TEXT-ALIGN;CENTER"><B><U>SHARE FOOD </U></B></H2>
<BR /><H3 STYLE="TEXT-ALIGN;LEFT"><FONT FONTFACE="TIMES ROMAN">ANSWER ANY ONE QUESTION</FONT></H3> 
<BR /><H3 STYLE="TEXT-ALIGN;LEFT"><FONT FONTFACE="TIMES ROMAN">Q1.Which is you'r favorite color?</font></h3>
<BR /><H3 STYLE="TEXT-ALIGN;LEFT"><FONT FONTFACE="TIMES ROMAN">Q2.Which is you'r first school?</FONT></H3>
<BR /><H3 STYLE="TEXT-ALIGN;LEFT"><FONT FONTFACE="TIMES ROMAN">Change your'r Password:</FONT></H3>
<BODY>
</HTML>
