<!DOCTYPE html Public "-//W3C//DTD XHTML 1.0 TRANSITIONAL/en"
"http://www.w3.org/TR/xhtml/DTD/xhtml1-transitional.dtd" >

<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="main.css">
<title> Invite Friends</title></head>

<body id="img">
	<h1 style="text-align:center" class="h">Share Food</h1>
	<div id="body">
		<h3 style="text-align:center">Invite Friends</h3>
		<form>
			<p class="pa"><label for="frnd email" >Enter Friends Email:</label><a class="btn-right"><input type="email" name="frnd email" placeholder="Enter Friends Email" style="width:15em" required><button type="button">Invite</button></a></p>
		</form>
		<button class="btn-left" type="reset">Reset</button><a href="signup.html" ><button class="btn-right" type="button">Back</button></a></center>
	</div>
</body>
</html>