<!DOCTYPE html Public "-//W3C//DTD XHTML 1.0 TRANSITIONAL/en"
"http://www.w3.org/TR/xhtml/DTD/xhtml1-transitional.dtd" >

<html>
<head>
	<meta name="viewport" content="width=device-width  initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="main.css">
	<title> Search Location</title>
</head>
<body id="img">
	<h1 style="text-align:center" class="h" >Share Food</h1>
	<div id="body">
		<form>
			<h3 style="text-align:center">Search Location</h3>
			<p >Location:<a class="btn-right"><input type="search" name="loc" placeholder="Enter Location" required></a></p>
			<p class="pa"><button type="reset" class="btn-left">Reset</button><button type="submit" class="btn-right">Search</button></p>
		</form>
	</div>
</body>
</html>