<!DOCTYPE html Public "-//W3C//DTD XHTML 1.0 TRANSITIONAL/en"
"http://www.w3.org/TR/xhtml/DTD/xhtml1-transitional.dtd" >

<html>
<head>
	<link rel="stylesheet" type="text/css" href="main.css">
	<style type="text/css">
	#location { border: 1px solid black;
				position:absolute;
				top:15%;
				left:40%;
				padding:20px;
				margin:20px;
				background-color:grey;
				}
	</style>
	<title> Search Location</title>
</head>

<body id="img">
	<h1 style="text-align:center" class="h" >Share Food</h1>
	<form id="location">
	<h3 style="text-align:center">Search Location</h3>
	<table cellpadding="10px" cellspacing="10">
		<tr><td>Location:</td><td><input type="search" name="loc" placeholder="Enter Location" required></td></tr>
	</table>
	<button type="reset" class="btn-left">Reset</button><button type="button" class="btn-right">Search</button>
	</form>
</body>
</html>