<!DOCTYPE html Public "-//W3C//DTD XHTML 1.0 TRANSITIONAL/en"
"http://www.w3.org/TR/xhtml/DTD/xhtml1-transitional.dtd" >

<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="main.css">
<title> Welcome</title>
</head>
<body id="img">
	<h1 class="h">Share Food</h1>
	<div id="body" >
		<h3 style="text-align:center">Sign In</h3>
		<form action="" method="get">
			<p class="pa">Email or Phone No.:<a class="btn-right"><input type="text" placeholder="Text" name="text" value="{{request.form.text}}" required></a></p>
			<p class="pa">Password:<a class="btn-right"><input type="password" name="password" maxlength="8" placeholder="Password" value="{{request.form.password}}" required></a></p>
			<div class="up">
				<button class="btn" type="submit">login</button>
				<h4>Don't have an account?</h4><a href="create.html" ><button class="btn" type="button">Create Account</button></a>
			</div>
			
				<p style="text-align:center"><a href="forgot.html" class="p">Forgot Password?</a>
				<a href="" class="p">About Us</a>
				<a href="help.html" class="p">Help</a>
				<a href="invite.html" class="p">Invite Friends</a></p>
			
		</form>
	</div>
</body>
</html>