<!DOCTYPE html Public "-//W3C//DTD XHTML 1.0 TRANSITIONAL/en"
"http://www.w3.org/TR/xhtml/DTD/xhtml1-transitional.dtd" >

<html>
<head>
	<style type="text/css">
	#login { border: 1px solid black;
			position:absolute;
			top:25%;
			left:50%;
			padding:20px;
			margin:20px;}
	</style>
<title> welcome</title></head>

<body>
	<h1 style="text-align:center" style="background-color:blue;">Share Food</h1>
	<form id="login">
			<p><label>Email or Phone No. or Username<br /></label><input type="text" placeholder="Text"/ required><br /></p>
			<p>Password<br /></label><input type="password" name="password" maxlength="8"/ placeholder="Password" required><br /></p>
			<input type="submit" value="login">
			<h4>or</h4>
			<p><input type="submit" value="Signup" ><br /></p>
			<a href="">Forgot Password</a> <br />
			<a href="">About Us</a><br /><a href="">Help</a><br /><a href="">Invite Friends</a>
	</form>
</body>
</html>